section {
    margin: 0;
    /* width: 100%; */
    background: black;
    color: white;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

section h2 {
    margin: 0;
}

section div {
    /* text-decoration: none; */
}

.link-wrapper  a {
    /* background: blue; */
    margin: 0 5px;
    text-decoration: none;
}