.navbar-comp {
    margin: 0;
    /* width: 100%; */
    background: black;
    color: white;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

.navbar-comp h2 {
    margin: 0;
}

.navbar-comp div {
    /* text-decoration: none; */
}

.navbar-comp .link-wrapper  a {
    margin: 0 5px;
    text-decoration: none;
}